body{
    margin:0;
    padding:0;
    background-color:#154371;
    background-image:url("https://img.magnific.com/premium-vector/light-medical-seamless-pattern_74102-671.jpg");
    background-size:350px;
}