<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <style>

        #btndel{

            background-color: red;
            color: black;
        }
    </style>

    <script>

        let myModule=angular.module("Modulekuch",[]);
        let mycontroller=myModule.controller("controllerkuch",function($scope,$http)
        {

            $scope.doShowAll=function()
            {
                let url="/show-profiles";

                $http.get(url).then(function(resp){

                    //alert(JSON.stringify(resp.data));
                    $scope.jsonary=resp.data;

                },function(err){

                    alert(err);

                })

            }
            $scope.dodelete=function(emailidkuch){

                let url="/do-delete?emailkeykuch="+emailidkuch;
                $http.get(url).then(function(resp){
                    alert(JSON.stringify(resp.data));
                    $scope.doShowAll();
                },function(err){

                })
            }
           
        })

    </script>

</head>
<body ng-app="Modulekuch" ng-controller="controllerkuch">
    <center>
        <h1>Donor's Control Panel</h1>
        <input type="button" value="Fetch All Records" ng-click="doShowAll();">

        <table width="800" border="1">
            <tr>
                <th>Sr.No.</th><th>Emailid</th><th>Name</th><th>Mobile</th><th>Address</th><th>State</th><th>City</th><th>PinCode</th><th>Acard-Pic</th><th>Profile-Pic</th><th>Delete-Status</th>
            </tr>
            <tr ng-repeat="obj in jsonary">
                <td>{{$index}}</td>
                <td>{{obj.emailid}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.mobile}}</td>
                <td>{{obj.address}}</td>
                <td>{{obj.state}}</td>
                <td>{{obj.city}}</td>
                <td>{{obj.pincode}}</td>


                <td>
                    <center>
                        <img src={{obj.acardpath}}  width="50px" height="50px" alt="">
                    </center>
                </td>
                <td>
                    <center>
                        <img src={{obj.picpath}}  width="50px" height="50px" alt="">
                    </center>
                </td>

                <td>
                    <center>
                        <input type="button" value="Delete" id="btndel" ng-click="dodelete(obj.emailid);">
                    </center>
                </td>


                

            </tr>
               
        </table>
    </center>